body {
  background-color: #2e3849;
}

header {
  background-color: #2a3242;
  padding: 1em 0;
}

#navbar {

}

#navbar-main {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#navbar-left, #navbar-right {
  vertical-align: middle;
  color: white;
}

#navbar-left {

}

#welcome {
  color: white;
  vertical-align: middle;
  font-size: 200%;
}

#navbar-right {
  position: absolute;
  right: 0;
  height: 100%;
}

#logout {
  position: absolute;
  top:50%;
  right: 15px;
  transform: translateY(-50%);
}

#main {
  padding: 0;
  margin: auto;
  margin-top: 8em;
  background-color:;
  color: white;
}

.box-group {
  padding: 0;
}

#box1, #box2 {
  margin-right: 0.5em;
}

#box3, #box4 {
  margin-left: 0.5em;
}

.boxes {
  position: relative;
  text-align: center;
  margin: 1em;
  height: 10em;
  background-color: #2a3242;
}

.box-content {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
}

.userdata {
  font-size: 250%;
}
